:root{
    --primary-200 :#B1CCFB;
    --primary-600: #437EF7;
    --primary-900: #2B63D9;
    --Base: #FFFFFF;
    --neutral-100: #F8F9FB;
    --neutral-200:#F9F9F9;
    --neutral-600: #EAEBF0;
    --neutral-800: #A5ACBA;
    --gray-25: #919BA7;
    --gray-50: #5F6D7E;
    --gray-300:#2E3545;
    --gray-600: #2C3444;
    --gray-700: #272D37;
    --gray-950: #151B28;

    --Medium-screen-size: 768px;
    --Small-screen-size: 375px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: var(--Base);
}

a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul{
    list-style: none;
}

img{
    display: block;
    width: 100%;
}

h1{
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 3.75rem;
    letter-spacing: -0.0325rem;
}

h2{
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.625rem;
    letter-spacing: -0.02rem;
}

h3{
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.875rem;
    letter-spacing: -0.01375rem;
}

.container{
    width: 88.88%;
    max-width: 80rem;;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.primary-btn{
    padding: 0.75rem 1.12rem;
    font-size: 0.9375rem;
    font-weight: 600;
    line-height: 1.375rem;
    color: var(--Base);
    background-color: var(--primary-600);
    border-radius: 0.375rem;
}

.header-component h2{
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.625rem;
    letter-spacing: -0.02rem;
}

.header-component h3{
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.875rem;
    letter-spacing: -0.01375rem;
}

.header-component p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: -0.00625rem;
}

.header-component figcaption{
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: -0.00625rem;
}
/* Navbar ==>START */
.head-navbar{
    padding: 1.25rem 0;
    font-size: 0.9375rem;
    font-weight: 600;
    color: var(--gray-700);
    border-bottom: 1px solid var(--neutral-600);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.head-navbar .row{
    gap: 4rem;
    align-items: center;
}

.navbar__navlist li a{
    display: flex;
}
.navbar__navlist li a img{
    padding-left: 0.75rem;
}

.navbar__navlist{
    display: flex;
    gap: 2rem;
}

.navbar__sign{
    margin-left: auto;
    color: var(--primary-600);
}

.navbar__sign .primary-btn{
    margin-left: 1.5rem;
}

.burger-menu{
    display: none;
}

/* Navbar ==>END */

/* Main ==>START */
/* Hero section ==>START */
.hero-section{
    padding: 5rem 0 5.75rem;
    text-align: center;
}

.hero-section .label{
    color: var(--primary-600);
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
    letter-spacing: -0.00625rem;
    padding-bottom: 1rem;
}

.hero-section h1{
    color: var(--gray-700);
}

.lg-screen-header{
    padding: 0 28%;
}

.hero-section .other-header{
    display: none;
}
/* Hero section ==>END */
/* Subscribe section ==>START */
.subscribe-section{
    padding: 4rem 0;
    background-color: var(--primary-900);
}

.subscribe-section .row{
    justify-content: space-between;
    align-items: center;
}

.subscribe__header{
    width: 50%;
}

.subscribe__action{
    width: 40%;
}

.subscribe__header h2{
    color: var(--Base);
    padding-bottom: 1.5rem;
}

.subscribe__header p{
    color: var(--primary-200);
}


.subscribe__email-area{
    display: flex;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
}

.subscribe__email-area input{
    border: none;
    flex-grow: 1;
    padding: 0.75rem 1rem;
    border-radius: 0.375rem 0rem 0rem 0.375rem;
    background-color: var(--Base);
}

.subscribe__email-area input:focus{
    outline: none;
}

.subscribe__email-area input::placeholder{
    color: var(--gray-25);
}

.subscribe__email-area .primary-btn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}

.subscribe__action p{
    color: var(--primary-200);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: -0.00625rem;
    padding-top: 0.5rem;
}
/* Subscribe section ==>END */
/* Tools section ==>START */
.tools-section{
    padding: 4rem 0;
}

.tools-section .row{
    justify-content: space-between;
}

.tools-section .row > .header-component{
    width: 45.5%;
}

.tools-section .header-component .small-screen-title{
    display: none;
}

.tools-section .header-component h3{
    color: var(--gray-700);
}

.tools-section .header-component p, .tools-section .header-component figcaption{
    color: var(--gray-50);
}

.tools-section .row > .header-component h3{
    padding-top: 1.5rem;
}
.tools-section .row > .header-component p{
    padding: 1rem 0;
}

.tools__card-container{
    width: 51%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.tools__card-container .header-component{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.tools__card-container .header-component .component__img{
    width: 30%;
}

.tools__card-container .header-component .component__body{
    width: 66%;
}

.tools__card-container .header-component .component__body .small-screen{
    display: none;
}

.tools__card-container .header-component figure img{
    height: 7.375rem;
    object-fit: cover;
    border-radius: 0.625rem;
}

.tools__card-container .header-component p{
    padding-bottom: 1rem;
    padding-right: 5rem;
}
/* Tools section ==>END */
/* Blog section ==>START */
.blog-section{
    padding: 4rem 0;
}

.blog-section .row{
    justify-content: space-between;
}

.blog-section h2{
    text-align: center;
    margin-bottom: 4rem;
    font-weight: 700;
}

.blog-section .row{
    row-gap: 3rem;
}

.blog-section .header-component{
    width: 32%;
}

.blog-section .header-component .component__body{
    padding-top: 1rem;
}

.blog-section .header-component figcaption{
    color: var(--gray-50);
}

.blog-section .header-component h3{
    padding: 0.5rem 0 1rem;
    color: var(--gray-700);
}

.blog-section .header-component .blog__more-btn{
    color: var(--primary-600);
    display: flex;
    gap: 0.38rem;
    align-items: center;
}

.blog-section .header-component .blog__more-btn::after{
    content: "";
    padding: 0.625rem;
    background-image: url(../assets/arrow-blue.svg);
    background-size: contain;
}
/* Blog section ==>END */
/* Signup section ==>START */
.signUp-section{
    padding: 4rem 0;
    background-color: var(--primary-900);
    color: var(--Base);
    text-align: center;
}

.signUp-section p{
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
    letter-spacing: -0.00625rem;
}

.signUp-section h2{
    padding: 0.5rem 25% 2rem;
    line-height: 2.5rem;
    letter-spacing: -0.04rem;
}

.signUp-section .signup-btn{
    color: var(--primary-600);
    background-color: var(--Base);
}

.signUp-section .login-btn{
    display: none;
}
/* Signup section ==>END */
/* Main ==>END */

/* Footer ==>START */
.page-footer{
    padding: 4rem 0;
    color: var(--neutral-800);
    background-color: var(--gray-950);
}

.page-footer nav{
    justify-content: space-between;
    padding-bottom: 4rem;
}

.page-footer .subscribe{
    width: 24%;
    order: 1;
}

.page-footer .col{
    width: fit-content;
}

.list-1{
    order: 2;
}
.list-2{
    order: 3;
}
.list-3{
    order: 4;
}

.page-footer .subscribe p{
    padding: 1rem 0;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: -0.00625rem;
}

.page-footer .subscribe__email-area input{
    color: var(--neutral-800);
    background-color: var(--gray-600);
}

.page-footer .subscribe__email-area input::placeholder{
    color: var(--neutral-800);
}

.page-footer .col{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.page-footer .col h4{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: -0.00625rem;
    color: var(--neutral-200);
}

.page-footer .col .nav-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.page-footer .col .nav-list li{
    font-weight: 500;
    line-height: 1.5rem;
}

.page-footer .copyrights{
    padding-top: 2rem;
    border-top: 1px solid var(--gray-300);
    text-align: center;
    font-weight: 400;
    line-height: 1.5rem;
}
/* Footer ==>END */



/************** Media **************/
/* Medium Screen ==> START */
@media (max-width: 768px){
    /* NavBar */
    .navbar__navlist, .navbar__sign{
        display: none;
    }

    .burger-menu{
        display: block;
        margin-left: auto;
    }

    main{
        display: flex;
        flex-direction: column;
    }

    /* Hero Section */
    .hero-section{
        padding: 3rem 0 5.5rem;
        order: 1;
    }
    .lg-screen-header{
        display: none;
    }
    .hero-section .other-header{
        display: block;
    }

    /* Subscribe section*/
    .subscribe-section{
        padding: 2.5rem 0;
        order: 3;
    }
   
    .subscribe__header{
        width: 100%;
        padding-bottom: 2rem;
    }
    
    .subscribe__action{
        width: 78%;
    }

    .subscribe__header h2{
        padding-bottom: 1rem;
    }

    /* Tools section */
    .tools-section{
        padding: 3rem 0;
        order: 2;
    }

    .tools-section .row > .header-component{
        width: 100%;
        padding-bottom: 2rem;
    }
    .tools__card-container{
        width: 100%;
    }

    .tools__card-container .header-component .component__body .large-screen{
        display: none;
    }

    .tools__card-container .header-component .component__body .small-screen{
        display: block;
    }

    .tools__card-container .header-component p{
        padding-right: 0;
    }

    .tools__card-container .header-component figure img{
        height: 10.375rem;

    }
    /* Blog section */
    .blog-section{
        padding: 3rem 0;
        order: 4;
    }


    .blog-section .row{
        row-gap: 6rem;
    }
    
    .blog-section h2{
        margin-bottom: 2rem;
    }

    .blog-section .header-component{
        width: 48%;
    }

    /* Signup section */
    .signUp-section{
        padding: 2.5rem 0;
        order: 5;
    }

    .signUp-section h2{
        padding: 0.5rem 0 2rem;
    }

    .signUp-section .login-btn{
        display: inline-block;
        margin-left: 0.9rem;
    }

    /* Footer */
    .page-footer{
        padding: 2.5rem 0;
    }    

    .page-footer nav{
        padding-bottom: 2rem;
    }

    .page-footer .subscribe{
        width: 85%;
        padding-bottom: 4.25rem;
    }

    .list-1{
        order: 4;
    }
    .list-2{
        order: 2;
    }
    .list-3{
        order: 3;
    }
}
/* Medium Screen ==> END */
 
/* Small Screen ==> START */
@media (max-width: 375px){
    h1{
        font-size: 2.25rem;
        font-weight: 600;
        line-height: 2.75rem;
        letter-spacing: -0.045rem;
    }
    /* Hero Section */
    .hero-section{
        padding: 2rem 0 2.5rem;
    }

    /* Subscribe Section */
    .subscribe-section{
        padding: 2rem 0;
    }

    .subscribe__header{
        padding-bottom: 1.5rem;
    }
    
    .subscribe__action{
        width: 100%;
    }

    .subscribe__action p{
        display: none;
    }
    .subscribe__email-area{
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }

    .subscribe__email-area >*{
        border-radius: 0.375rem !important;
    }

    /* Tools section */
    .tools-section{
        padding: 2rem 0;
    }

    .tools__card-container .header-component{
        flex-direction: column;
    }

    .tools__card-container .header-component .component__img{
        width: 100%;
    }
    
    .tools__card-container .header-component .component__body{
        padding-top: 1.5rem;
        width: 100%;
    }

    .tools-section .header-component h3{
        font-size: 1.25rem;
    }

    .tools-section .header-component .large-screen-title{
        display: none;
    }

    .tools-section .header-component .small-screen-title{
        display: block;
    }

    /* Blog section */
    .blog-section{
        padding: 2rem 0;
    }
    
    
    .blog-section h2{
        margin-bottom: 1.5rem;
    }
   
    .blog-section .row{
        row-gap: 2rem;
    }

    .blog-section .header-component{
        width: 100%;
    }

    /* Signup Section */
    .signUp-section{
        padding: 2rem 0;
        order: 5;
    }

    .signUp-section .primary-btn{
      width: 100%;
    }

    .signUp-section .login-btn{
        margin-top: 1rem;
        margin-left: 0;
    }

    /* Footer */
    .page-footer{
        padding: 2rem 0;
    }    

    .page-footer nav{
        padding-bottom: 1.5rem;
    }

    .page-footer .subscribe{
        width: 98%;
        padding-bottom: 3.25rem;
    }

    .page-footer .subscribe__email-area{
        flex-direction: row;
        gap: 0;
    }

    .page-footer .subscribe__email-area input{
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
    .page-footer .subscribe__email-area a{
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }

    .list-1{
        order: 3;
    }
    .list-2{
        order: 4;
        margin-top: 1.5rem;
    }
    .list-3{
        order: 2;
    }

    .page-footer .copyrights{
        padding-top: 1.5rem;
    }
}
/* Small Screen ==> END */